@model BookStoreApp.Models.Usertbl

@{
    ViewBag.Title = "Register";
}


@Html.Partial("_PartialRegister")

@using (Html.BeginForm("Submit", "User", FormMethod.Post))
{
    <h2> Register </h2>

    <div class="form-group">
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Username)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>

    @*<div class="form-group">
            @Html.Label("Favorite Genres")
            @Html.ListBox("selectedGenres", new MultiSelectList(ViewBag.Genres, "Value", "Text"), new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.UserGenres)
        </div>*@

    <br />
    <button type="submit" class="btn btn-primary">Register</button>
}
