
@{
    ViewBag.Title = "Welcome to Story Arc";
}

<div class="container text-center">
    <!-- Header Section -->
    <h1 class="display-4 mt-5">Welcome to Story Arc</h1>

    <!-- Introduction Text -->
    <p class="lead mt-3">
        Once upon a time, in a world where stories wove the fabric of our lives, the idea of StoryArc was born—a magical place where book lovers of all ages could embark on endless adventures through the pages of their favorite tales. Our mission is to create a vibrant online haven, making it easier for readers to discover and purchase books across all genres, from whimsical children's stories to heartwarming romances and epic fantasies.
        <br />
    </p>

    <!-- Image Section -->
    <div class="row mt-5">
        <div class="col-md-4">
            <img src="@Url.Content("~/Images/book4.jpg")" class="img-fluid rounded" alt="Book Cover 4" />
        </div>
        <div class="col-md-4">
            <img src="@Url.Content("~/Images/book5.jpg")" class="img-fluid rounded" alt="Book Cover 5" />
        </div>
        <div class="col-md-4">
            <img src="@Url.Content("~/Images/book6.jpg")" class="img-fluid rounded" alt="Book Cover 6" />
        </div>
        <div class="col-md-4">
            <img src="@Url.Content("~/Images/book1.jpg")" class="img-fluid rounded" alt="Book Cover 1" />
        </div>
        <div class="col-md-4">
            <img src="@Url.Content("~/Images/book2.jpg")" class="img-fluid rounded" alt="Book Cover 2" />
        </div>
        <div class="col-md-4">
            <img src="@Url.Content("~/Images/book3.jpg")" class="img-fluid rounded" alt="Book Cover 3" />
        </div>

    </div>
</div>
